<div class="col-10">
    <div class="search-bar d-flex">
        <input type="text" class="form-control" placeholder="Search for ..." aria-label="Search" aria-describedby="button-addon2" id="searchBar">
        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
        <script>
            search("<%=type%>");
        </script>
    </div>
</div>