<div class="box-container" id="profileAccount">
    <div class="bg-top text-center">
        <h5 class="mt-3">Account Profile</h5>
    </div>
    
    <div class="bg-bottom">
        <img src="/img/default_pfp.png" alt="profile" class="rounded-circle mb-4" width="200px" height="200px">
        <h3 class="text-center"><%- username %></h3>
        <h6 class="text-center mb-4">Account Type: <span class="text-primary"><%- authority %></span></h6>
        <button class="btn btn-primary btn-block text-center" onclick="editAccount()">Edit Account</button>
    </div>
</div>