<div class = "mb-3">
    <label for="clusterName" class="form-label">Cluster Name</label>
    <input class="form-control" id = "clusterName" name = "name" type="text" aria-describedby="ClusterName" required
    <% if (locals.cluster) { %>
        value = "<%=locals.cluster.name%>"
    <% } %>
    >
    <div class="invalid-feedback">
        Please enter a cluster name.
    </div>  
</div>
<div class = "mb-3">
    <label for="clusterZone" class="form-label">Cluster Zone</label>
    <input class="form-control" id = "clusterZone" name = "location" type="text" aria-describedby="ClusterZone" required
    <% if (locals.cluster) { %>
        value = "<%=locals.cluster.location%>"
    <% } %>
    >
    <div class="invalid-feedback">
        Please enter a cluster zone.
    </div>  
    <% if (locals.cluster) { %>
        <input type="hidden" name="oldName" value="<%=locals.cluster.name%>">
    <% } %>
</div>