<div class = "mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input class="form-control" id = "firstName" name = "firstName" type="text" aria-describedby="FirstName">
</div>
<div class = "mb-3">
    <label for="middleName" class="form-label">Middle Name</label>
    <input class="form-control" id = "middleName" name = "middleName" type="text"aria-describedby="MiddleName">
</div>
<div class = "mb-3">
    <label for="firstName" class="form-label">Last Name</label>
    <input class="form-control" id = "lastName" name = "lastName" type="text" aria-describedby="LastName">
</div>
<div class = "mb-3">
    <label for="username" class="form-label">Username</label>
    <input class="form-control" id = "username" name = "username" type="text" aria-describedby="Username" required>
    <div class="invalid-feedback">
        Invalid username.
    </div>      
</div>
<div class = "mb-3">
    <label for="password" class="form-label">Password</label>
    <input class="form-control" id = "password" name = "password" type="password" aria-describedby="Username" required>
    <div class="invalid-feedback">
        Please enter a password.
    </div>      
</div>